@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/*390 -> 91.8*/

.font-playfair {
  font-family: 'Playfair Display', serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}
.myContainer {
  width: 91.8%;
}
.star-radius {
    border-bottom-right-radius: 78px;
}

/*@media (max-width: 1199px) {*/
/*    .myContainer {*/
/*        max-width: 90%;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .myContainer {*/
/*        max-width: 83.33%;*/
/*    }*/
/*}*/
/*1440 -> 90.1%*/
@media (min-width: 1440px) {
  .myContainer {
    max-width: 90.1%;
  }
}

@media (min-width: 1920px) {
  .myContainer {
    max-width: 67.71%;
  }
}

.HAMMER {
  animation: hammer 3s infinite ease-in-out; /* 1s animation + 3s delay */
  transform-origin: center;
}

@keyframes hammer {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(45deg);
  }
  10% {
    transform: rotate(0deg);
  }
}

.STAR {
  animation: star 3s infinite linear;
  /*transform-origin: center;*/
}
@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
    100% {
        transform: rotate(360deg);
    }
}
